*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2F1893;
    font-family:"Arial", sans-serif;
    color:white;
}
.main-header{
background-color: #2F1893;
padding:60px 0;
}
.container{
    justify-content: space-between;
    display: flex;
    align-items:center;
    max-width:1200px;
    width: 100%;
    margin:auto;
    
}
.logo a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.nav-list ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap:15px;
}
.nav-list li{
    margin-left:40px;
}
.nav-list a{
    color:white;
    text-decoration: none;
    transition: 0.3;
    
}
.nav-list a:hover{
    color:white;
}
.purchase-button{
    background-color: #E93A7D;
    color:white;
    padding: 10px 25px;
    border-radius: 20px;
}
