*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2F1893;
    font-family:"Arial", sans-serif;
    color:white;
}
.main-header{
background-color: #2F1893;
padding:60px 0;
}
.container{
    justify-content: space-between;
    display: flex;
    align-items:center;
    max-width:1200px;
    width: 100%;
    margin:auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.logo a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.nav-list ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap:15px;
}
.nav-list li{
    margin-left:40px;
}
.nav-list a{
    color:white;
    text-decoration: none;
    transition: 0.3;
    
}
.nav-list a:hover{
    color:white;
}
.purchase-button{
    background-color: #E93A7D;
    color:white;
    padding: 10px 25px;
    border-radius: 20px;
}
.main-section{
    padding:80px 0;
    color:white;
}
.main-text{
    display:flex;
    flex-direction: column;
    gap:30px;
    max-width: 50%;
    align-items: flex-start; 
}
.main-text h1{
    font-size: 60px;
    max-width: 500px;
    line-height: 1.3;
}
.main-text p{
    font-size: 25px;
    line-height: 1.3;
    color: antiquewhite;
    
}
.learn-more-button{
    background-color:#E93A7D ;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
}
@media (max-width:700px){
    .main-text h1{
        font-size:30px;
    }
    .main-text p{
        font-size: 15px;
    }
    .main-text{
        max-width: 100%;
    }
    /* telefon için üst üste dizip ortalıyoruz */
    .container{
        flex-direction:column;
        align-items: center;
    }
    .main-text{
        margin-bottom: 50px;
    }
}
.hamburger-menu{
    display:none;
    flex-direction: column;
    cursor:pointer;
    gap:5px;
}
.hamburger-menu span{
    width: 30px;
    height:3px;
    background-color: white;
    border-radius: 5px;
}
@media (max-width:700px){
    .nav-list{
        display:none;
    }
    .hamburger-menu{
        display: flex;
    }
    .logo a{
        font-size: 20px;
    }
}
.main-text{
    flex:1;
    margin-right:50px;
}
.sign-up{
    background-color: white;
    padding:40px;
    width: 100%;
    max-width: 400px;
    border-radius: 25px;
}
.sign-up h2{
    color:#2F1893;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
}
.input-field{
    padding:15px 20px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 50px;
    border:1px solid gray;
    font-size: 16px;
    box-sizing: border-box;
}
.checkbox-container{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
    font-size: 15px;
    color:gray;
}
.signin-button, .twitter-button{
    width: 100%;
    border: none;
    border-radius: 50px;
    color:white;
    font-size: 15px;
    padding:15px;
    cursor:pointer;
    margin-bottom: 15px;
}
.signin-button{
    background-color:#2F1893 ;
}
.signin-button:hover{
    background-color:#2F1893;
}
.twitter-button{
    background-color: rgb(31, 149, 204);
}
.twitter-button:hover{
    background-color: rgb(10, 114, 161);
}
.or-line{
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    color: gray;
}
.account-check{
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color:gray;
    display: flex;
}
.signin-link{
    color:rgb(25, 212, 172);
    margin-left: 5px;
}